<div class="app-panel-container">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink="/listEmpleados">
                    <mat-icon>badge</mat-icon>
                    <p>Empleados</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                    <mat-icon>local_mall</mat-icon>
                    <p>Productos</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                    <mat-icon>local_shipping</mat-icon>
                    <p>Vehículos</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card>
                    <mat-icon>handyman</mat-icon>
                    <p>Herramientas</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>

